In [1]:
import pandas as pd

In [2]:
#import population aged 15+, by gender, age and socio economic status
#here we consider that we are in the folder that contains demographics and deaths by city
pop15plus=pd.read_csv('../pop_age15plus_sex_socio_2018.zip', sep=';', dtype={'CODGEO':str,'CS1_8':str})
#pop15plus[['CS1_8']]='7' #to remove social status from SMRs !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
pop15plus #About 35,000 parts of France ! (cities and arrondissements)

,NIVGEO,CODGEO,LIBGEO,CS1_8,AGEQ65,SEXE,NB
0,ARM,13201,Marseille 1er Arrondissement,1,15,1,0.000000
1,ARM,13201,Marseille 1er Arrondissement,1,15,2,0.000000
2,ARM,13201,Marseille 1er Arrondissement,1,20,1,0.000000
3,ARM,13201,Marseille 1er Arrondissement,1,20,2,0.000000
4,ARM,13201,Marseille 1er Arrondissement,1,25,1,0.000000
...,...,...,...,...,...,...,...
6158763,COM,97424,Cilaos,8,55,2,45.551263
6158764,COM,97424,Cilaos,8,60,1,30.882284
6158765,COM,97424,Cilaos,8,60,2,61.032835
6158766,COM,97424,Cilaos,8,65,1,10.343150
6158767,COM,97424,Cilaos,8,65,2,40.931041

In [3]:
pop15plus.dtypes

NIVGEO     object
CODGEO     object
LIBGEO     object
CS1_8      object
AGEQ65      int64
SEXE        int64
NB        float64
dtype: object

In [4]:
# this previous file comes from https://www.insee.fr/fr/statistiques/5395878?sommaire=5395927 ("POP6"). In the 3rd tab, https://www.insee.fr/fr/statistiques/5395878?sommaire=5395927#dictionnaire one can see that
# a) "AGEQ65" goes from 15 which means 15-19 to 60 which means 60-64 and  then 65 which means 65+. We are not interested in the latter because it is impossible to associate a clear mortality risk to it: it contains people aged 65 and 100 with very different risks
# b) SEXE = 1 for males and 2 for females
# c) "CS1_8" means:
# 1 : agriculteurs exploitants
# 2 : artisans, commerçants, chefs entreprise
# 3 : cadres et professions intellectuelles supérieures
# 4 : professions intermédiaires
# 5 : employés
# 6 : ouvriers
# 7 : retraités
# 8 : autres personnes sans activité professionnelle
#The mortality tables found here https://www.insee.fr/fr/statistiques/1893092 (morta_cs.xls), that are for both genders, age from 30 to 100, and similar socio professional status, have all the CS1_8 statutes above except "retraités", and has the general population risk in addition. To assign risks to the CS1_8 populations, I decide that retraités will be assigned the general population risk :
#I prepare the name of columns
CSPs = ['Age',
       '7','','', #this should be the general population, but since the mortality table doesn't cover retired persons (I don't know why) they will be assigned to this column
       '1','','', #1 : agriculteurs exploitants - Agriculteurs
       '2','','', #2 : artisans, commerçants, chefs entreprise - Artisans, commerçants, chefs d'entreprise
       '3','','', #3 : cadres et professions intellectuelles supérieures - Cadres et prof. intellectuelles supérieures
       '4','','', #4 : professions intermédiaires - Professions intermédiaires
       '5','','', #5 : employés - Employés
       '6','','', #6 : ouvriers - Ouvriers
       #7,'','', #7 : retraités
       '8','',''] #8 : autres personnes sans activité professionnelle  - Inactifs non retraités
#and get the corresponding mortality tables, for males first
maleMortalityTable = pd.read_excel('../../France,NationalMortalityRates/MORTA_CS.xls',header=7, nrows=71, names = CSPs)[['Age','1','2','3','4','5','6','7','8']]
maleMortalityTable

,Age,1,2,3,4,5,6,7,8
0,30,49.486091,47.627400,29.290863,46.973865,74.284094,96.959508,82.178755,534.657194
1,31,53.056271,51.291788,31.296599,50.587971,77.892440,103.785177,86.716561,556.274159
2,32,56.884021,55.238108,33.439680,54.480141,82.836125,111.091353,91.504939,578.765129
3,33,60.925545,59.427208,35.692967,58.611758,86.771043,116.643579,95.555425,601.549529
4,34,64.400366,62.521132,38.089623,61.663228,90.371488,121.659906,99.313634,625.091951
...,...,...,...,...,...,...,...,...,...
66,96,27964.497878,27028.600151,26191.735080,26680.968914,27157.588333,28308.674116,27318.486890,26191.735080
67,97,29806.488012,28926.468601,28342.463882,28554.427726,29064.513952,30173.334753,29236.710330,28342.463882
68,98,31795.554830,30957.599767,30592.491386,30775.045577,31105.338255,32186.882238,31289.625754,30592.491386
69,99,33940.551045,33131.350963,32950.347169,33040.849066,33289.463211,34358.278238,33486.690833,32950.347169
70,100,36038.502987,35248.802814,35217.650139,35233.226476,35417.020145,36482.050962,35626.852747,35217.650139

In [5]:
#female mortality tables, now
femaleMortalityTable = pd.read_excel('../../France,NationalMortalityRates//MORTA_CS.xls',sheet_name=1, header=7, nrows=71,
names=CSPs)[['Age','1','2','3','4','5','6','7','8']]
femaleMortalityTable
#notice that mortality risk is, as excepted, lower for males. As indicated in morta_cs, these are annual death per 100,000 inhabitants

,Age,1,2,3,4,5,6,7,8
0,30,18.386736,17.778614,12.951553,17.434981,25.664147,34.447210,30.471714,140.579007
1,31,20.380733,19.706662,14.468065,19.325762,28.216235,37.643359,32.807321,147.891545
2,32,22.590974,21.843801,16.162147,21.421594,31.022108,41.136061,35.321948,155.584462
3,33,25.578371,24.732394,18.507298,24.254355,34.107001,44.952829,38.996969,163.677543
4,34,28.478077,27.536195,20.766067,27.003963,37.665036,49.341684,42.671989,172.955585
...,...,...,...,...,...,...,...,...,...
66,96,22697.226761,22141.744821,20667.046795,21382.054971,22423.361003,23004.042807,21985.480374,20880.571185
67,97,25164.564539,24548.698060,23384.005177,23946.765640,24860.927772,25504.733507,24488.323191,23665.385409
68,98,27140.624135,26476.396443,25651.948942,26048.732933,26813.144144,27507.505035,26516.823862,25850.340937
69,99,29314.248192,28596.824182,28093.708380,28337.796865,28960.541156,29710.511658,28740.103737,28215.752623
70,100,31442.014049,30672.516033,30463.335508,30571.722343,31062.633294,31867.040178,30915.565868,30517.528925

In [46]:
#OK. Now we need, for each line for pop15plus, to assign a mortality risk.
#Or rather, the population starting at age 30, because we did not catch mortality risk at earlier ages
#Later, here I will complement pop15plus with earlier ages that 15, and mortality risks with earlier ages than 30.
#But for now let us neglect deaths before age 30

In [6]:
#For ages below 30 and starting at 65, pop15plus is not adequate.
#=> population by city age gender in 2018: POP1B in https://www.insee.fr/fr/statistiques/5395878?sommaire=5395927#consulter :
POP1B=pd.read_csv('../pop_age_sex_2018.zip', sep=';', dtype={'CODGEO':str})
POP1Byoung = POP1B[POP1B['AGED100']<30]
POP1Baged = POP1B[POP1B['AGED100']>=65]
POP1Byoung[POP1Byoung['CODGEO']=='13201']
#AGED100 does not group ages except "100+" represented as 100.

    NIVGEO CODGEO                        LIBGEO  SEXE  AGED100          NB
0      ARM  13201  Marseille 1er Arrondissement     1        0  297.190407
1      ARM  13201  Marseille 1er Arrondissement     1        1  299.187248
2      ARM  13201  Marseille 1er Arrondissement     1        2  229.153548
3      ARM  13201  Marseille 1er Arrondissement     1        3  249.194916
4      ARM  13201  Marseille 1er Arrondissement     1        4  184.052875
5      ARM  13201  Marseille 1er Arrondissement     1        5  229.219206
6      ARM  13201  Marseille 1er Arrondissement     1        6  171.136935
7      ARM  13201  Marseille 1er Arrondissement     1        7  215.897583
8      ARM  13201  Marseille 1er Arrondissement     1        8  172.978471
9      ARM  13201  Marseille 1er Arrondissement     1        9  151.723407
10     ARM  13201  Marseille 1er Arrondissement     1       10  228.523484
11     ARM  13201  Marseille 1er Arrondissement     1       11  197.089248
12     ARM  13201  Marseille 1er Arrondissement     1       12  160.278842
13     ARM  13201  Marseille 1er Arrondissement     1       13  182.005641
14     ARM  13201  Marseille 1er Arrondissement     1       14  186.494822
15     ARM  13201  Marseille 1er Arrondissement     1       15  163.641257
16     ARM  13201  Marseille 1er Arrondissement     1       16  174.955992
17     ARM  13201  Marseille 1er Arrondissement     1       17  188.518970
18     ARM  13201  Marseille 1er Arrondissement     1       18  240.243421
19     ARM  13201  Marseille 1er Arrondissement     1       19  312.346408
20     ARM  13201  Marseille 1er Arrondissement     1       20  335.289802
21     ARM  13201  Marseille 1er Arrondissement     1       21  409.621774
22     ARM  13201  Marseille 1er Arrondissement     1       22  289.348060
23     ARM  13201  Marseille 1er Arrondissement     1       23  330.462476
24     ARM  13201  Marseille 1er Arrondissement     1       24  338.742545
25     ARM  13201  Marseille 1er Arrondissement     1       25  297.834792
26     ARM  13201  Marseille 1er Arrondissement     1       26  348.214386
27     ARM  13201  Marseille 1er Arrondissement     1       27  331.668094
28     ARM  13201  Marseille 1er Arrondissement     1       28  354.362373
29     ARM  13201  Marseille 1er Arrondissement     1       29  340.871207
101    ARM  13201  Marseille 1er Arrondissement     2        0  324.821801
102    ARM  13201  Marseille 1er Arrondissement     2        1  276.550044
103    ARM  13201  Marseille 1er Arrondissement     2        2  190.697847
104    ARM  13201  Marseille 1er Arrondissement     2        3  238.796136
105    ARM  13201  Marseille 1er Arrondissement     2        4  232.818181
106    ARM  13201  Marseille 1er Arrondissement     2        5  243.182438
107    ARM  13201  Marseille 1er Arrondissement     2        6  228.719065
108    ARM  13201  Marseille 1er Arrondissement     2        7  217.222271
109    ARM  13201  Marseille 1er Arrondissement     2        8  233.066853
110    ARM  13201  Marseille 1er Arrondissement     2        9  210.858832
111    ARM  13201  Marseille 1er Arrondissement     2       10  240.189705
112    ARM  13201  Marseille 1er Arrondissement     2       11  172.343378
113    ARM  13201  Marseille 1er Arrondissement     2       12  210.156212
114    ARM  13201  Marseille 1er Arrondissement     2       13  145.475931
115    ARM  13201  Marseille 1er Arrondissement     2       14  162.029499
116    ARM  13201  Marseille 1er Arrondissement     2       15  198.718592
117    ARM  13201  Marseille 1er Arrondissement     2       16  153.001795
118    ARM  13201  Marseille 1er Arrondissement     2       17  200.587028
119    ARM  13201  Marseille 1er Arrondissement     2       18  342.351368
120    ARM  13201  Marseille 1er Arrondissement     2       19  382.128834
121    ARM  13201  Marseille 1er Arrondissement     2       20  272.726355
122    ARM  13201  Marseille 1er Arrondissement     2       21  392.259832
123    ARM  13201  Marseille 1er Arrondissement     2       22  306.536014
124    ARM  13201  Marseille 1er Arrondissement     2       23  310.371997
125    ARM  13201  Marseille 1er Arrondissement     2       24  359.476096
126    ARM  13201  Marseille 1er Arrondissement     2       25  368.715912
127    ARM  13201  Marseille 1er Arrondissement     2       26  328.212061
128    ARM  13201  Marseille 1er Arrondissement     2       27  324.074039
129    ARM  13201  Marseille 1er Arrondissement     2       28  274.903925
130    ARM  13201  Marseille 1er Arrondissement     2       29  296.918205

In [7]:
#let's compare with pop15:
pop15plus[(pop15plus['CODGEO']=='13201') & (pop15plus['AGEQ65']<30)].groupby(['NIVGEO','CODGEO','LIBGEO','SEXE','AGEQ65']).sum()
#ok, 5*300=1500: NB makes sense

                                                                 NB
NIVGEO CODGEO LIBGEO                       SEXE AGEQ65
ARM    13201  Marseille 1er Arrondissement 1    15      1077.706051
                                                20      1711.464652
                                                25      1677.950849
                                           2    15      1276.787618
                                                20      1644.370291
                                                25      1596.824139

In [8]:
#OK, for each population, let us assign mortality risk.
#This is done with a left join, once mortality risk was shaped as a single table with columns Age, CS1_8, risk: @Pol Sans I let you do it ?
#I'll start: let us assemble male and female mortality:
maleMortalityTable['SEXE'] = 1
femaleMortalityTable['SEXE'] = 2
mortalityTable = maleMortalityTable.append(femaleMortalityTable)
#for aged persons, we are interested the column '7' for retired persons
POP1Baged = POP1Baged.rename(columns={"AGED100": "Age"})
POP1Baged = POP1Baged.merge(mortalityTable[['Age', 'SEXE','7']], on=['Age', 'SEXE'])
POP1Baged = POP1Baged.rename(columns={'7': 'qx'})
#For ages 30-64 we need to "unpivot"="melt" the mortality table:
#the 1...8 CS1_8 categories are transformed into a 'CS1_8' column:
verticalTable = mortalityTable.melt(id_vars=['Age', 'SEXE'], value_vars=['1','2','3','4','5','6','7','8'], var_name='CS1_8', value_name='qx')
verticalTable

      Age  SEXE CS1_8            qx
0      30     1     1     49.486091
1      31     1     1     53.056271
2      32     1     1     56.884021
3      33     1     1     60.925545
4      34     1     1     64.400366
...   ...   ...   ...           ...
1131   96     2     8  20880.571185
1132   97     2     8  23665.385409
1133   98     2     8  25850.340937
1134   99     2     8  28215.752623
1135  100     2     8  30517.528925

[1136 rows x 4 columns]

In [9]:
#we also need to group mortality risks by tranches of 5 years (from 30-34, which we name 32, to 60-64, which we name 62):
reducedTable = verticalTable[(verticalTable['Age']>=30) & (verticalTable['Age']<65)].reset_index()
reducedTable['Age'] = (reducedTable['Age']//5)*5+2
reducedTable = reducedTable[['Age','SEXE','CS1_8','qx']].groupby(['Age','SEXE','CS1_8']).mean().reset_index()
reducedTable

     Age  SEXE CS1_8          qx
0     32     1     1   56.950459
1     32     1     2   55.221127
2     32     1     3   33.561946
3     32     1     4   54.463392
4     32     1     5   82.431038
..   ...   ...   ...         ...
107   62     2     4  371.497807
108   62     2     5  425.358119
109   62     2     6  521.937639
110   62     2     7  486.482910
111   62     2     8  778.735203

[112 rows x 4 columns]

In [10]:
#now we can associate this risk to pop15plus:
pop30plus = pop15plus[(pop15plus['AGEQ65']>=30) & (pop15plus['AGEQ65']<65)].reset_index()
pop30plus['Age'] = pop30plus['AGEQ65']+2
pop30plus.dtypes

index       int64
NIVGEO     object
CODGEO     object
LIBGEO     object
CS1_8      object
AGEQ65      int64
SEXE        int64
NB        float64
Age         int64
dtype: object

In [11]:
reducedTable.dtypes

Age        int64
SEXE       int64
CS1_8     object
qx       float64
dtype: object

In [12]:
pop30plus = pop30plus.merge(reducedTable, on=['Age', 'SEXE','CS1_8'])
#almost done: (while having neglected deaths below age 30)
mypop = pop30plus.append(POP1Baged)
mypop['ExpectedDeaths'] = mypop['NB'] * mypop['qx'] / 100000
expectations = mypop.groupby(['NIVGEO', 'CODGEO', 'LIBGEO']).sum().reset_index()[['NIVGEO', 'CODGEO', 'LIBGEO','NB','ExpectedDeaths']]
expectations

,NIVGEO,CODGEO,LIBGEO,NB,ExpectedDeaths
0,ARM,13201,Marseille 1er Arrondissement,24814.841574,291.615437
1,ARM,13202,Marseille 2e Arrondissement,15524.443109,216.286852
2,ARM,13203,Marseille 3e Arrondissement,28814.655895,357.576893
3,ARM,13204,Marseille 4e Arrondissement,32345.360675,527.179500
4,ARM,13205,Marseille 5e Arrondissement,26757.684461,347.925548
...,...,...,...,...,...
34988,COM,97420,Sainte-Suzanne,13230.012066,107.872561
34989,COM,97421,Salazie,4159.618814,42.044413
34990,COM,97422,Le Tampon,45225.326729,430.981131
34991,COM,97423,Les Trois-Bassins,4296.344328,45.639649
34992,COM,97424,Cilaos,3370.183373,34.602526

In [13]:
#Now, we group by GEOCODE and sum the theoretical number of deaths for any given year

In [14]:
#How does the actual number of deaths compare with the theoretical number of deaths ? This is how we can compute StandardMortalityRatios: SMR
#The actual deaths are as follows:
citydeaths = pd.read_csv('../deaths_2014-2020.csv',sep=';', dtype={'CODGEO':str})
citydeaths

,CODGEO,DECESD14,DECESD15,DECESD16,DECESD17,DECESD18,DECESD19,DECESD20
0,01001,7.0,5.0,4.0,2.0,9.0,6,7
1,01002,1.0,1.0,1.0,2.0,1.0,3,0
2,01004,113.0,121.0,125.0,122.0,121.0,158,150
3,01005,9.0,7.0,3.0,11.0,12.0,3,14
4,01006,2.0,2.0,0.0,1.0,1.0,1,1
...,...,...,...,...,...,...,...,...
35005,75116,1212.0,1268.0,1258.0,1327.0,1242.0,1280,1476
35006,75117,961.0,975.0,998.0,1021.0,987.0,945,1156
35007,75118,1071.0,1107.0,1134.0,1129.0,1129.0,1123,1308
35008,75119,1137.0,1104.0,1164.0,1188.0,1129.0,1118,1484
35009,75120,1237.0,1217.0,1257.0,1249.0,1173.0,1134,1451

In [15]:
#Given that we use small areas, the number of deaths can be randomly zero or high, compared to the population, for a given year. So we take the average (not including 2020, as it is an unusual year with Covid) :
citydeaths[['DECESD14', 'DECESD15', 'DECESD16', 'DECESD17', 'DECESD18', 'DECESD19']].mean(axis=1)

0           5.500000
1           1.500000
2         126.666667
3           7.500000
4           1.166667
            ...
35005    1264.500000
35006     981.166667
35007    1115.500000
35008    1140.000000
35009    1211.166667
Length: 35010, dtype: float64

In [16]:
#I let this space empty, to later add more years because I can see that there are 237 locations where the average between 2014 and 2019 still is zero.
citydeaths[['DECESD14', 'DECESD15', 'DECESD16', 'DECESD17', 'DECESD18', 'DECESD19']].mean(axis=1).sort_values().iloc[235:]
#I find it quite much. Although there is a tradeoff between having solid numbers and looking at the most recent "France", to try to optimise France with respect to mortality as it is today

34915        0.000000
20355        0.000000
18606        0.166667
3108         0.166667
23444        0.166667
             ...
11810     2775.666667
27105     3448.333333
1957      3734.333333
4347      7493.666667
29269    13909.833333
Length: 34775, dtype: float64

In [17]:
#Ok, time to compute SMRs for the 35,000 locations !! This is our "Y", actualDeaths/theoreticalDeaths. @Pol Sans I let you do it ? (It requires to have assembled theoreticalDeaths per GEOCODE, above)
citydeaths['ObservedDeaths'] = citydeaths[['DECESD14', 'DECESD15', 'DECESD16', 'DECESD17', 'DECESD18', 'DECESD19']].mean(axis=1)
deaths_by_city = pd.merge( citydeaths[['CODGEO','ObservedDeaths']], expectations[['NIVGEO','CODGEO','LIBGEO','NB','ExpectedDeaths']], on='CODGEO')
deaths_by_city['SMR'] = deaths_by_city['ObservedDeaths'] / deaths_by_city['ExpectedDeaths']
deaths_by_city
#Of note, it should be much better than "CancerMortality" in that it accounts for age, gender and socio economic status, so that SMRS = f(geographic factors) deals with other aspects.
#If needed, we can later remove socio economic status from the definition of SMR (basically applying general mortality risk to every CS1_8, much easier than what we did), to check that this we a good move to see things like links with PM.

,CODGEO,ObservedDeaths,NIVGEO,LIBGEO,NB,ExpectedDeaths,SMR
0,01001,5.500000,COM,L'Abergement-Clémenciat,540.559441,5.475497,1.004475
1,01002,1.500000,COM,L'Abergement-de-Varey,149.925926,1.908389,0.786003
2,01004,126.666667,COM,Ambérieu-en-Bugey,8433.370907,114.482552,1.106428
3,01005,7.500000,COM,Ambérieux-en-Dombes,1137.014590,11.529062,0.650530
4,01006,1.166667,COM,Ambléon,77.381818,0.931363,1.252644
...,...,...,...,...,...,...,...
34988,75116,1264.500000,ARM,Paris 16e Arrondissement,107575.754270,1762.896823,0.717285
34989,75117,981.166667,ARM,Paris 17e Arrondissement,102557.908151,1195.710769,0.820572
34990,75118,1115.500000,ARM,Paris 18e Arrondissement,121021.430229,1147.388597,0.972208
34991,75119,1140.000000,ARM,Paris 19e Arrondissement,113847.412559,1214.414532,0.938724
34992,75120,1211.166667,ARM,Paris 20e Arrondissement,125788.619553,1306.887984,0.926756

In [18]:
deaths_by_city.sort_values('SMR').iloc[227:34985]

,CODGEO,ObservedDeaths,NIVGEO,LIBGEO,NB,ExpectedDeaths,SMR
19599,54169,0.000000,COM,Domprix,58.064516,0.768174,0.000000
31876,81108,0.166667,COM,Itzac,104.545455,1.781224,0.093569
30777,79055,0.500000,COM,Brieuil-sur-Chizé,114.010967,5.251163,0.095217
16840,46104,0.166667,COM,Flaujac-Gare,79.000000,1.742836,0.095630
4509,14134,0.166667,COM,Canteloup,131.952632,1.693907,0.098392
...,...,...,...,...,...,...,...
18568,51452,0.833333,COM,Rapsécourt,16.406250,0.132254,6.301017
14821,39324,0.166667,COM,Mérona,2.000000,0.025466,6.544655
9104,26150,0.166667,COM,Izon-la-Bruisse,11.000000,0.017849,9.337548
8506,25134,0.166667,COM,Châtillon-sur-Lison,0.000000,0.000000,inf
9220,26274,0.000000,COM,Rochefourchat,0.000000,0.000000,NaN

In [19]:
#deaths_by_city.sort_values('SMR').iloc[228:34983].to_csv('SMRs_age,sex.csv')

In [61]:
deaths_by_city.sort_values('SMR').iloc[0:34983].to_csv('SMRs_all.csv', encoding='utf-8-sig')

In [40]:
deaths_by_city.sort_values('SMR').iloc[227:34985]

,CODGEO,ObservedDeaths,NIVGEO,LIBGEO,NB,ExpectedDeaths,SMR
7003,21430,0.000000,COM,Montigny-Saint-Barthélemy,58.682353,0.936230,0.000000
31876,81108,0.166667,COM,Itzac,104.545455,1.759101,0.094745
16840,46104,0.166667,COM,Flaujac-Gare,79.000000,1.747836,0.095356
30777,79055,0.500000,COM,Brieuil-sur-Chizé,114.010967,5.161957,0.096862
13429,35261,0.166667,COM,Saint-Christophe-de-Valains,152.680851,1.635409,0.101911
...,...,...,...,...,...,...,...
18568,51452,0.833333,COM,Rapsécourt,16.406250,0.137901,6.042997
14821,39324,0.166667,COM,Mérona,2.000000,0.025466,6.544655
9104,26150,0.166667,COM,Izon-la-Bruisse,11.000000,0.022100,7.541308
8506,25134,0.166667,COM,Châtillon-sur-Lison,0.000000,0.000000,inf
9220,26274,0.000000,COM,Rochefourchat,0.000000,0.000000,NaN